@font-face {
  font-family: 'iconfont';
  src:  url('iconfont.eot?hfj82a');
  src:  url('iconfont.eot?hfj82a#iefix') format('embedded-opentype'),
    url('iconfont.ttf?hfj82a') format('truetype'),
    url('iconfont.woff?hfj82a') format('woff'),
    url('iconfont.svg?hfj82a#iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jian1:before {
  content: "\e600";
}
.icon-jia1:before {
  content: "\e601";
}
.icon-dayin:before {
  content: "\e617";
}
.icon-yonghu:before {
  content: "\e603";
}
.icon-weibiaoti5:before {
  content: "\e618";
}
.icon-fuxuankuang:before {
  content: "\e6f2";
}
.icon-xinxipilu:before {
  content: "\e620";
}
.icon-liulan:before {
  content: "\e605";
}
.icon-fuxuankuangxuanzhong:before {
  content: "\e652";
}
.icon-bianjib:before {
  content: "\e6b5";
}
.icon-youjian:before {
  content: "\e642";
}
.icon-xiangmuxiaoxi:before {
  content: "\e60f";
}
.icon-jian:before {
  content: "\e656";
}
.icon-jia:before {
  content: "\e657";
}
.icon-caidan_xunzhang:before {
  content: "\e68e";
}
.icon-bangzhu:before {
  content: "\e629";
}
.icon-web-icon-:before {
  content: "\e6dc";
}
.icon-wenjianjiazhankai:before {
  content: "\e60e";
}
.icon-shujudaping:before {
  content: "\e742";
}
.icon-shuyed:before {
  content: "\e604";
}
.icon-shijian:before {
  content: "\e606";
}
.icon-fuxuankuang-banxuan:before {
  content: "\e607";
}
.icon-zhuzhuangtu:before {
  content: "\e66e";
}
.icon-gengduo:before {
  content: "\e66a";
}
.icon-fenguangbaobiao:before {
  content: "\e655";
}
.icon-queding:before {
  content: "\e611";
}
.icon-daochu:before {
  content: "\e634";
}
.icon-fenzhijigou:before {
  content: "\e658";
}
.icon-tuichu:before {
  content: "\e69c";
}
.icon-dian:before {
  content: "\e7a5";
}
.icon-mima:before {
  content: "\e62c";
}
.icon-shuye1:before {
  content: "\e61e";
}
.icon-bianji:before {
  content: "\e602";
}
.icon-tingzhi-shixin:before {
  content: "\e7f5";
}
.icon-x:before {
  content: "\78";
}
.icon-appreciate:before {
  content: "\e644";
}
.icon-check:before {
  content: "\e645";
}
.icon-close:before {
  content: "\e646";
}
.icon-edit:before {
  content: "\e649";
}
.icon-emoji:before {
  content: "\e64a";
}
.icon-favorfill:before {
  content: "\e64b";
}
.icon-favor:before {
  content: "\e64c";
}
.icon-loading:before {
  content: "\e64f";
}
.icon-locationfill:before {
  content: "\e650";
}
.icon-location1:before {
  content: "\e651";
}
.icon-phone1:before {
  content: "\e653";
}
.icon-roundcheckfill:before {
  content: "\e659";
}
.icon-roundcheck:before {
  content: "\e65a";
}
.icon-roundclosefill:before {
  content: "\e65b";
}
.icon-roundclose:before {
  content: "\e65c";
}
.icon-roundrightfill:before {
  content: "\e65d";
}
.icon-roundright:before {
  content: "\e65e";
}
.icon-search1:before {
  content: "\e65f";
}
.icon-taxi:before {
  content: "\e660";
}
.icon-timefill:before {
  content: "\e661";
}
.icon-time:before {
  content: "\e662";
}
.icon-unfold:before {
  content: "\e663";
}
.icon-warnfill:before {
  content: "\e664";
}
.icon-warn:before {
  content: "\e665";
}
.icon-camerafill:before {
  content: "\e666";
}
.icon-camera1:before {
  content: "\e667";
}
.icon-commentfill:before {
  content: "\e668";
}
.icon-comment:before {
  content: "\e669";
}
.icon-likefill:before {
  content: "\e66b";
}
.icon-like:before {
  content: "\e66c";
}
.icon-notificationfill:before {
  content: "\e66d";
}
.icon-notification1:before {
  content: "\e66f";
}
.icon-order:before {
  content: "\e670";
}
.icon-samefill:before {
  content: "\e671";
}
.icon-same:before {
  content: "\e672";
}
.icon-deliver:before {
  content: "\e673";
}
.icon-evaluate:before {
  content: "\e674";
}
.icon-pay:before {
  content: "\e675";
}
.icon-send:before {
  content: "\e676";
}
.icon-shop:before {
  content: "\e677";
}
.icon-ticket1:before {
  content: "\e678";
}
.icon-wang:before {
  content: "\e679";
}
.icon-back:before {
  content: "\e67a";
}
.icon-cascades:before {
  content: "\e67c";
}
.icon-discover:before {
  content: "\e67e";
}
.icon-list1:before {
  content: "\e682";
}
.icon-more:before {
  content: "\e684";
}
.icon-scan:before {
  content: "\e689";
}
.icon-settings:before {
  content: "\e68a";
}
.icon-questionfill:before {
  content: "\e690";
}
.icon-question1:before {
  content: "\e691";
}
.icon-shopfill:before {
  content: "\e697";
}
.icon-form:before {
  content: "\e699";
}
.icon-wangfill:before {
  content: "\e69a";
}
.icon-pic:before {
  content: "\e69b";
}
.icon-filter1:before {
  content: "\e69d";
}
.icon-footprint:before {
  content: "\e69e";
}
.icon-top:before {
  content: "\e69f";
}
.icon-pulldown:before {
  content: "\e6a0";
}
.icon-pullup:before {
  content: "\e6a1";
}
.icon-right:before {
  content: "\e6a3";
}
.icon-refresh:before {
  content: "\e6a4";
}
.icon-moreandroid:before {
  content: "\e6a5";
}
.icon-deletefill:before {
  content: "\e6a6";
}
.icon-refund:before {
  content: "\e6ac";
}
.icon-cart1:before {
  content: "\e6af";
}
.icon-qrcode1:before {
  content: "\e6b0";
}
.icon-remind:before {
  content: "\e6b2";
}
.icon-delete:before {
  content: "\e6b4";
}
.icon-profile1:before {
  content: "\e6b7";
}
.icon-home1:before {
  content: "\e6b8";
}
.icon-cartfill:before {
  content: "\e6b9";
}
.icon-discoverfill:before {
  content: "\e6ba";
}
.icon-homefill:before {
  content: "\e6bb";
}
.icon-message:before {
  content: "\e6bc";
}
.icon-addressbook:before {
  content: "\e6bd";
}
.icon-link1:before {
  content: "\e6bf";
}
.icon-lock1:before {
  content: "\e6c0";
}
.icon-unlock:before {
  content: "\e6c2";
}
.icon-vip:before {
  content: "\e6c3";
}
.icon-weibo:before {
  content: "\e6c4";
}
.icon-activity:before {
  content: "\e6c5";
}
.icon-big:before {
  content: "\e6c7";
}
.icon-friendaddfill:before {
  content: "\e6c9";
}
.icon-friendadd:before {
  content: "\e6ca";
}
.icon-friendfamous:before {
  content: "\e6cb";
}
.icon-friend:before {
  content: "\e6cc";
}
.icon-goods:before {
  content: "\e6cd";
}
.icon-selection:before {
  content: "\e6ce";
}
.icon-tmall:before {
  content: "\e6cf";
}
.icon-explore:before {
  content: "\e6d2";
}
.icon-present:before {
  content: "\e6d3";
}
.icon-squarecheckfill:before {
  content: "\e6d4";
}
.icon-square:before {
  content: "\e6d5";
}
.icon-squarecheck:before {
  content: "\e6d6";
}
.icon-round:before {
  content: "\e6d7";
}
.icon-roundaddfill:before {
  content: "\e6d8";
}
.icon-roundadd:before {
  content: "\e6d9";
}
.icon-add:before {
  content: "\e6da";
}
.icon-notificationforbidfill:before {
  content: "\e6db";
}
.icon-explorefill:before {
  content: "\e6dd";
}
.icon-fold:before {
  content: "\e6de";
}
.icon-game:before {
  content: "\e6df";
}
.icon-redpacket:before {
  content: "\e6e0";
}
.icon-selectionfill:before {
  content: "\e6e1";
}
.icon-similar:before {
  content: "\e6e2";
}
.icon-appreciatefill:before {
  content: "\e6e3";
}
.icon-infofill:before {
  content: "\e6e4";
}
.icon-info1:before {
  content: "\e6e5";
}
.icon-tao:before {
  content: "\e6e8";
}
.icon-mobiletao:before {
  content: "\e6e9";
}
.icon-forwardfill:before {
  content: "\e6ea";
}
.icon-forward1:before {
  content: "\e6eb";
}
.icon-rechargefill:before {
  content: "\e6ec";
}
.icon-recharge:before {
  content: "\e6ed";
}
.icon-vipcard:before {
  content: "\e6ee";
}
.icon-voice:before {
  content: "\e6ef";
}
.icon-voicefill:before {
  content: "\e6f0";
}
.icon-friendfavor:before {
  content: "\e6f1";
}
.icon-wifi:before {
  content: "\e6f3";
}
.icon-share1:before {
  content: "\e6f4";
}
.icon-wefill:before {
  content: "\e6f5";
}
.icon-we:before {
  content: "\e6f6";
}
.icon-lightauto:before {
  content: "\e6f7";
}
.icon-lightforbid:before {
  content: "\e6f8";
}
.icon-lightfill:before {
  content: "\e6f9";
}
.icon-camerarotate:before {
  content: "\e6fa";
}
.icon-light:before {
  content: "\e6fb";
}
.icon-barcode1:before {
  content: "\e6fc";
}
.icon-flashlightclose:before {
  content: "\e6fd";
}
.icon-flashlightopen:before {
  content: "\e6fe";
}
.icon-searchlist:before {
  content: "\e6ff";
}
.icon-service:before {
  content: "\e700";
}
.icon-sort:before {
  content: "\e701";
}
.icon-1212:before {
  content: "\e702";
}
.icon-down:before {
  content: "\e703";
}
.icon-mobile1:before {
  content: "\e704";
}
.icon-mobilefill:before {
  content: "\e705";
}
.icon-copy1:before {
  content: "\e706";
}
.icon-countdownfill:before {
  content: "\e707";
}
.icon-countdown:before {
  content: "\e708";
}
.icon-noticefill:before {
  content: "\e709";
}
.icon-notice:before {
  content: "\e70a";
}
.icon-qiang:before {
  content: "\e70b";
}
.icon-upstagefill:before {
  content: "\e70e";
}
.icon-upstage:before {
  content: "\e70f";
}
.icon-babyfill:before {
  content: "\e710";
}
.icon-baby:before {
  content: "\e711";
}
.icon-brandfill:before {
  content: "\e712";
}
.icon-brand:before {
  content: "\e713";
}
.icon-choicenessfill:before {
  content: "\e714";
}
.icon-choiceness:before {
  content: "\e715";
}
.icon-clothesfill:before {
  content: "\e716";
}
.icon-clothes:before {
  content: "\e717";
}
.icon-creativefill:before {
  content: "\e718";
}
.icon-creative:before {
  content: "\e719";
}
.icon-female:before {
  content: "\e71a";
}
.icon-keyboard1:before {
  content: "\e71b";
}
.icon-male:before {
  content: "\e71c";
}
.icon-newfill:before {
  content: "\e71d";
}
.icon-new:before {
  content: "\e71e";
}
.icon-pullleft:before {
  content: "\e71f";
}
.icon-pullright:before {
  content: "\e720";
}
.icon-rankfill:before {
  content: "\e721";
}
.icon-rank:before {
  content: "\e722";
}
.icon-bad:before {
  content: "\e723";
}
.icon-cameraadd:before {
  content: "\e724";
}
.icon-focus:before {
  content: "\e725";
}
.icon-friendfill:before {
  content: "\e726";
}
.icon-cameraaddfill:before {
  content: "\e727";
}
.icon-apps:before {
  content: "\e729";
}
.icon-paintfill:before {
  content: "\e72a";
}
.icon-paint:before {
  content: "\e72b";
}
.icon-picfill:before {
  content: "\e72c";
}
.icon-refresharrow:before {
  content: "\e72d";
}
.icon-markfill:before {
  content: "\e730";
}
.icon-mark:before {
  content: "\e731";
}
.icon-presentfill:before {
  content: "\e732";
}
.icon-repeal:before {
  content: "\e733";
}
.icon-album:before {
  content: "\e734";
}
.icon-peoplefill:before {
  content: "\e735";
}
.icon-people:before {
  content: "\e736";
}
.icon-servicefill:before {
  content: "\e737";
}
.icon-repair:before {
  content: "\e738";
}
.icon-file:before {
  content: "\e739";
}
.icon-repairfill:before {
  content: "\e73a";
}
.icon-taoxiaopu:before {
  content: "\e73b";
}
.icon-attentionfill:before {
  content: "\e73c";
}
.icon-attention:before {
  content: "\e73d";
}
.icon-commandfill:before {
  content: "\e73e";
}
.icon-command1:before {
  content: "\e73f";
}
.icon-communityfill:before {
  content: "\e740";
}
.icon-community:before {
  content: "\e741";
}
.icon-read:before {
  content: "\e743";
}
.icon-suan:before {
  content: "\e744";
}
.icon-hua:before {
  content: "\e745";
}
.icon-ju:before {
  content: "\e746";
}
.icon-tian:before {
  content: "\e748";
}
.icon-calendar1:before {
  content: "\e74a";
}
.icon-cut:before {
  content: "\e74b";
}
.icon-magic:before {
  content: "\e74c";
}
.icon-backwardfill:before {
  content: "\e74d";
}
.icon-playfill:before {
  content: "\e74f";
}
.icon-stop1:before {
  content: "\e750";
}
.icon-tagfill:before {
  content: "\e751";
}
.icon-tag:before {
  content: "\e752";
}
.icon-group:before {
  content: "\e753";
}
.icon-all:before {
  content: "\e755";
}
.icon-backdelete:before {
  content: "\e756";
}
.icon-hotfill:before {
  content: "\e757";
}
.icon-hot:before {
  content: "\e758";
}
.icon-post:before {
  content: "\e759";
}
.icon-radiobox:before {
  content: "\e75b";
}
.icon-rounddown:before {
  content: "\e75c";
}
.icon-upload1:before {
  content: "\e75d";
}
.icon-writefill:before {
  content: "\e760";
}
.icon-write:before {
  content: "\e761";
}
.icon-radioboxfill:before {
  content: "\e763";
}
.icon-punch:before {
  content: "\e764";
}
.icon-shake:before {
  content: "\e765";
}
.icon-add1:before {
  content: "\e767";
}
.icon-move:before {
  content: "\e768";
}
.icon-safe:before {
  content: "\e769";
}
.icon-haodian:before {
  content: "\e76d";
}
.icon-mao:before {
  content: "\e76e";
}
.icon-qi:before {
  content: "\e76f";
}
.icon-ye:before {
  content: "\e770";
}
.icon-juhuasuan:before {
  content: "\e771";
}
.icon-taoqianggou:before {
  content: "\e772";
}
.icon-tianmao:before {
  content: "\e773";
}
.icon-activityfill:before {
  content: "\e775";
}
.icon-crownfill:before {
  content: "\e776";
}
.icon-crown:before {
  content: "\e777";
}
.icon-goodsfill:before {
  content: "\e778";
}
.icon-messagefill:before {
  content: "\e779";
}
.icon-profilefill:before {
  content: "\e77a";
}
.icon-sound:before {
  content: "\e77b";
}
.icon-sponsorfill:before {
  content: "\e77c";
}
.icon-sponsor:before {
  content: "\e77d";
}
.icon-upblock:before {
  content: "\e77e";
}
.icon-weblock:before {
  content: "\e77f";
}
.icon-weunblock:before {
  content: "\e780";
}
.icon-1111:before {
  content: "\e782";
}
.icon-my:before {
  content: "\e78b";
}
.icon-myfill:before {
  content: "\e78c";
}
.icon-emojifill:before {
  content: "\e78d";
}
.icon-emojiflashfill:before {
  content: "\e78e";
}
.icon-flashbuyfill-copy:before {
  content: "\e78f";
}
.icon-text:before {
  content: "\e791";
}
.icon-goodsfavor:before {
  content: "\e794";
}
.icon-musicfill:before {
  content: "\e795";
}
.icon-musicforbidfill:before {
  content: "\e796";
}
.icon-xiamiforbid:before {
  content: "\e797";
}
.icon-xiami:before {
  content: "\e798";
}
.icon-roundleftfill:before {
  content: "\e799";
}
.icon-triangledownfill:before {
  content: "\e79b";
}
.icon-triangleupfill:before {
  content: "\e79c";
}
.icon-roundleftfill-copy:before {
  content: "\e79e";
}
.icon-pulldown1:before {
  content: "\e79f";
}
.icon-emojilight:before {
  content: "\e7a1";
}
.icon-keyboardlight:before {
  content: "\e7a3";
}
.icon-recordfill:before {
  content: "\e7a4";
}
.icon-recordlight:before {
  content: "\e7a6";
}
.icon-record:before {
  content: "\e7a7";
}
.icon-roundaddlight:before {
  content: "\e7a8";
}
.icon-soundlight:before {
  content: "\e7a9";
}
.icon-cardboardfill:before {
  content: "\e7aa";
}
.icon-cardboard:before {
  content: "\e7ab";
}
.icon-formfill:before {
  content: "\e7ac";
}
.icon-coin:before {
  content: "\e7ad";
}
.icon-sortlight:before {
  content: "\e7ae";
}
.icon-cardboardforbid:before {
  content: "\e7af";
}
.icon-circlefill:before {
  content: "\e7b0";
}
.icon-circle:before {
  content: "\e7b1";
}
.icon-attentionforbid:before {
  content: "\e7b2";
}
.icon-attentionforbidfill:before {
  content: "\e7b3";
}
.icon-attentionfavorfill:before {
  content: "\e7b4";
}
.icon-attentionfavor:before {
  content: "\e7b5";
}
.icon-piclight:before {
  content: "\e7b7";
}
.icon-shoplight:before {
  content: "\e7b8";
}
.icon-voicelight:before {
  content: "\e7b9";
}
.icon-attentionfavorfill-copy:before {
  content: "\e7ba";
}
.icon-full:before {
  content: "\e7bc";
}
.icon-mail1:before {
  content: "\e7bd";
}
.icon-peoplelist:before {
  content: "\e7be";
}
.icon-goodsnewfill:before {
  content: "\e7bf";
}
.icon-goodsnew:before {
  content: "\e7c0";
}
.icon-medalfill:before {
  content: "\e7c1";
}
.icon-medal:before {
  content: "\e7c2";
}
.icon-newsfill:before {
  content: "\e7c3";
}
.icon-newshotfill:before {
  content: "\e7c4";
}
.icon-newshot:before {
  content: "\e7c5";
}
.icon-news:before {
  content: "\e7c6";
}
.icon-videofill:before {
  content: "\e7c7";
}
.icon-video:before {
  content: "\e7c8";
}
.icon-askfill:before {
  content: "\e7c9";
}
.icon-ask:before {
  content: "\e7ca";
}
.icon-exit1:before {
  content: "\e7cb";
}
.icon-skinfill:before {
  content: "\e7cc";
}
.icon-skin:before {
  content: "\e7cd";
}
.icon-moneybagfill:before {
  content: "\e7ce";
}
.icon-usefullfill:before {
  content: "\e7cf";
}
.icon-usefull:before {
  content: "\e7d0";
}
.icon-moneybag:before {
  content: "\e7d1";
}
.icon-redpacket_fill:before {
  content: "\e7d3";
}
.icon-subscription:before {
  content: "\e7d4";
}
.icon-home_light:before {
  content: "\e7d5";
}
.icon-my_light:before {
  content: "\e7d6";
}
.icon-community_light:before {
  content: "\e7d7";
}
.icon-cart_light:before {
  content: "\e7d8";
}
.icon-we_light:before {
  content: "\e7d9";
}
.icon-home_fill_light:before {
  content: "\e7da";
}
.icon-cart_fill_light:before {
  content: "\e7db";
}
.icon-community_fill_light:before {
  content: "\e7dc";
}
.icon-my_fill_light:before {
  content: "\e7dd";
}
.icon-we_fill_light:before {
  content: "\e7de";
}
.icon-skin_light:before {
  content: "\e7df";
}
.icon-search_light:before {
  content: "\e7e0";
}
.icon-scan_light:before {
  content: "\e7e1";
}
.icon-people_list_light:before {
  content: "\e7e2";
}
.icon-message_light:before {
  content: "\e7e3";
}
.icon-close_light:before {
  content: "\e7e4";
}
.icon-add_light:before {
  content: "\e7e5";
}
.icon-profile_light:before {
  content: "\e7e6";
}
.icon-service_light:before {
  content: "\e7e7";
}
.icon-friend_add_light:before {
  content: "\e7e8";
}
.icon-edit_light:before {
  content: "\e7e9";
}
.icon-camera_light:before {
  content: "\e7ea";
}
.icon-hot_light:before {
  content: "\e7eb";
}
.icon-refresh_light:before {
  content: "\e7ec";
}
.icon-back_light:before {
  content: "\e7ed";
}
.icon-share_light:before {
  content: "\e7ee";
}
.icon-comment_light:before {
  content: "\e7ef";
}
.icon-appreciate_light:before {
  content: "\e7f0";
}
.icon-favor_light:before {
  content: "\e7f1";
}
.icon-appreciate_fill_light:before {
  content: "\e7f2";
}
.icon-comment_fill_light:before {
  content: "\e7f3";
}
.icon-wang_light:before {
  content: "\e7f4";
}
.icon-more_android_light:before {
  content: "\e7f6";
}
.icon-friend_light:before {
  content: "\e7f7";
}
.icon-more_light:before {
  content: "\e7f8";
}
.icon-goods_favor_light:before {
  content: "\e7f9";
}
.icon-goods_new_fill_light:before {
  content: "\e7fa";
}
.icon-goods_new_light:before {
  content: "\e7fb";
}
.icon-goods_light:before {
  content: "\e7fc";
}
.icon-medal_fill_light:before {
  content: "\e7fd";
}
.icon-medal_light:before {
  content: "\e7fe";
}
.icon-news_fill_light:before {
  content: "\e7ff";
}
.icon-news_hot_fill_light:before {
  content: "\e800";
}
.icon-news_hot_light:before {
  content: "\e801";
}
.icon-news_light:before {
  content: "\e802";
}
.icon-video_fill_light:before {
  content: "\e803";
}
.icon-message_fill_light:before {
  content: "\e804";
}
.icon-form_light:before {
  content: "\e805";
}
.icon-video_light:before {
  content: "\e806";
}
.icon-search_list_light:before {
  content: "\e807";
}
.icon-form_fill_light:before {
  content: "\e808";
}
.icon-global_light:before {
  content: "\e809";
}
.icon-global:before {
  content: "\e80a";
}
.icon-favor_fill_light:before {
  content: "\e80b";
}
.icon-delete_light:before {
  content: "\e80c";
}
.icon-back_android:before {
  content: "\e80d";
}
.icon-back_android_light:before {
  content: "\e80e";
}
.icon-down_light:before {
  content: "\e80f";
}
.icon-round_close_light:before {
  content: "\e810";
}
.icon-round_close_fill_light:before {
  content: "\e811";
}
.icon-expressman:before {
  content: "\e812";
}
.icon-punch_light:before {
  content: "\e813";
}
.icon-evaluate_fill:before {
  content: "\e814";
}
.icon-furniture:before {
  content: "\e815";
}
.icon-dress:before {
  content: "\e816";
}
.icon-coffee:before {
  content: "\e817";
}
.icon-sports:before {
  content: "\e818";
}
.icon-group_light:before {
  content: "\e819";
}
.icon-location_light:before {
  content: "\e81a";
}
.icon-attention_light:before {
  content: "\e81b";
}
.icon-group_fill_light:before {
  content: "\e81c";
}
.icon-group_fill:before {
  content: "\e81d";
}
.icon-play_forward_fill:before {
  content: "\e81e";
}
.icon-subscription_light:before {
  content: "\e81f";
}
.icon-deliver_fill:before {
  content: "\e820";
}
.icon-notice_forbid_fill:before {
  content: "\e821";
}
.icon-qr_code_light:before {
  content: "\e822";
}
.icon-settings_light:before {
  content: "\e823";
}
.icon-pick:before {
  content: "\e824";
}
.icon-form_favor_light:before {
  content: "\e825";
}
.icon-round_comment_light:before {
  content: "\e826";
}
.icon-phone_light:before {
  content: "\e827";
}
.icon-round_down_light:before {
  content: "\e828";
}
.icon-friend_settings_light:before {
  content: "\e829";
}
.icon-change:before {
  content: "\e82a";
}
.icon-round_list_light:before {
  content: "\e82b";
}
.icon-ticket_fill:before {
  content: "\e82c";
}
.icon-x1:before {
  content: "\79";
}
.icon-reply-fill:before {
  content: "\e612";
}
.icon-set-fill:before {
  content: "\e614";
}
.icon-menu-fill:before {
  content: "\e610";
}
.icon-search2:before {
  content: "\e615";
}
.icon-share3:before {
  content: "\e641";
}
.icon-set-sm:before {
  content: "\e621";
}
.icon-engine:before {
  content: "\e628";
}
.icon-close1:before {
  content: "\1006";
}
.icon-close-fill:before {
  content: "\1007";
}
.icon-chart-screen:before {
  content: "\e62a";
}
.icon-star:before {
  content: "\e608";
}
.icon-circle-dot:before {
  content: "\e619";
}
.icon-chat:before {
  content: "\e609";
}
.icon-release:before {
  content: "\e60a";
}
.icon-list3:before {
  content: "\e60b";
}
.icon-chart:before {
  content: "\e62d";
}
.icon-ok-circle:before {
  content: "\1005";
}
.icon-layim-theme:before {
  content: "\e61b";
}
.icon-table1:before {
  content: "\e62e";
}
.icon-right1:before {
  content: "\e60c";
}
.icon-left:before {
  content: "\e60d";
}
.icon-cart-simple:before {
  content: "\e698";
}
.icon-face-cry:before {
  content: "\e6a2";
}
.icon-face-smile:before {
  content: "\e6b1";
}
.icon-survey:before {
  content: "\e6b3";
}
.icon-tree1:before {
  content: "\e62f";
}
.icon-upload-circle:before {
  content: "\e630";
}
.icon-add-circle:before {
  content: "\e61f";
}
.icon-download-circle:before {
  content: "\e613";
}
.icon-templeate-1:before {
  content: "\e631";
}
.icon-util:before {
  content: "\e632";
}
.icon-face-surprised:before {
  content: "\e67b";
}
.icon-edit1:before {
  content: "\e643";
}
.icon-speaker:before {
  content: "\e647";
}
.icon-down1:before {
  content: "\e61a";
}
.icon-file1:before {
  content: "\e622";
}
.icon-layouts:before {
  content: "\e633";
}
.icon-rate-half:before {
  content: "\e6d0";
}
.icon-add-circle-fine:before {
  content: "\e616";
}
.icon-prev-circle:before {
  content: "\e635";
}
.icon-read1:before {
  content: "\e70c";
}
.icon-404:before {
  content: "\e61c";
}
.icon-carousel:before {
  content: "\e636";
}
.icon-help:before {
  content: "\e61d";
}
.icon-code-circle:before {
  content: "\e637";
}
.icon-water:before {
  content: "\e638";
}
.icon-username:before {
  content: "\e67d";
}
.icon-find-fill:before {
  content: "\e67f";
}
.icon-about:before {
  content: "\e623";
}
.icon-location3:before {
  content: "\e728";
}
.icon-up:before {
  content: "\e624";
}
.icon-pause1:before {
  content: "\e654";
}
.icon-date:before {
  content: "\e639";
}
.icon-layim-uploadfile:before {
  content: "\e625";
}
.icon-delete1:before {
  content: "\e640";
}
.icon-play1:before {
  content: "\e680";
}
.icon-top1:before {
  content: "\e626";
}
.icon-friends:before {
  content: "\e627";
}
.icon-refresh-3:before {
  content: "\e9aa";
}
.icon-ok:before {
  content: "\e62b";
}
.icon-layer:before {
  content: "\e63a";
}
.icon-face-smile-fine:before {
  content: "\e63b";
}
.icon-dollar:before {
  content: "\e681";
}
.icon-group1:before {
  content: "\e63c";
}
.icon-layim-download:before {
  content: "\e63d";
}
.icon-picture-fine:before {
  content: "\e63e";
}
.icon-link2:before {
  content: "\e64d";
}
.icon-diamond:before {
  content: "\e747";
}
.icon-log:before {
  content: "\e63f";
}
.icon-rate-solid:before {
  content: "\e683";
}
.icon-fonts-del:before {
  content: "\e685";
}
.icon-unlink:before {
  content: "\e64e";
}
.icon-fonts-clear:before {
  content: "\e648";
}
.icon-triangle-r:before {
  content: "\e686";
}
.icon-circle1:before {
  content: "\e687";
}
.icon-radio:before {
  content: "\e688";
}
.icon-align-center:before {
  content: "\e68b";
}
.icon-align-right:before {
  content: "\e68c";
}
.icon-align-left:before {
  content: "\e68d";
}
.icon-loading-1:before {
  content: "\e68f";
}
.icon-return:before {
  content: "\e692";
}
.icon-fonts-strong:before {
  content: "\e693";
}
.icon-upload4:before {
  content: "\e694";
}
.icon-dialogue:before {
  content: "\e695";
}
.icon-video1:before {
  content: "\e70d";
}
.icon-headset:before {
  content: "\e72e";
}
.icon-cellphone-fine:before {
  content: "\e696";
}
.icon-add-1:before {
  content: "\e6a7";
}
.icon-face-smile-b:before {
  content: "\e6a8";
}
.icon-fonts-html:before {
  content: "\e6a9";
}
.icon-screen-full:before {
  content: "\e6aa";
}
.icon-form1:before {
  content: "\e6ab";
}
.icon-cart2:before {
  content: "\e6ad";
}
.icon-camera-fill:before {
  content: "\e6ae";
}
.icon-tabs:before {
  content: "\e6b6";
}
.icon-fonts-code:before {
  content: "\e6be";
}
.icon-fire1:before {
  content: "\e75a";
}
.icon-set:before {
  content: "\e72f";
}
.icon-fonts-u:before {
  content: "\e6c1";
}
.icon-triangle-d:before {
  content: "\e6c6";
}
.icon-tips:before {
  content: "\e749";
}
.icon-picture:before {
  content: "\e6c8";
}
.icon-more-vertical:before {
  content: "\e6d1";
}
.icon-flag1:before {
  content: "\e6e6";
}
.icon-loading1:before {
  content: "\e6e7";
}
.icon-fonts-i:before {
  content: "\e74e";
}
.icon-refresh-1:before {
  content: "\e754";
}
.icon-rmb:before {
  content: "\e75e";
}
.icon-home4:before {
  content: "\e75f";
}
.icon-user1:before {
  content: "\e774";
}
.icon-notice1:before {
  content: "\e762";
}
.icon-login-weibo:before {
  content: "\e766";
}
.icon-voice1:before {
  content: "\e76a";
}
.icon-upload-drag:before {
  content: "\e76b";
}
.icon-login-qq:before {
  content: "\e76c";
}
.icon-snowflake:before {
  content: "\e781";
}
.icon-file-b:before {
  content: "\e783";
}
.icon-template:before {
  content: "\e784";
}
.icon-auz:before {
  content: "\e785";
}
.icon-console:before {
  content: "\e786";
}
.icon-app:before {
  content: "\e787";
}
.icon-prev:before {
  content: "\e788";
}
.icon-website:before {
  content: "\e7b6";
}
.icon-next1:before {
  content: "\e789";
}
.icon-component:before {
  content: "\e857";
}
.icon-more1:before {
  content: "\e78a";
}
.icon-login-wechat:before {
  content: "\e790";
}
.icon-shrink-right:before {
  content: "\e792";
}
.icon-spread-left:before {
  content: "\e793";
}
.icon-camera2:before {
  content: "\e79a";
}
.icon-note:before {
  content: "\e79d";
}
.icon-refresh1:before {
  content: "\e7a0";
}
.icon-female1:before {
  content: "\e7a2";
}
.icon-male1:before {
  content: "\e7bb";
}
.icon-screen-restore:before {
  content: "\e7d2";
}
.icon-password:before {
  content: "\e82d";
}
.icon-senior:before {
  content: "\e82e";
}
.icon-theme:before {
  content: "\e82f";
}
.icon-tread:before {
  content: "\e830";
}
.icon-praise:before {
  content: "\e831";
}
.icon-star-fill:before {
  content: "\e832";
}
.icon-rate:before {
  content: "\e833";
}
.icon-template-1:before {
  content: "\e834";
}
.icon-vercode:before {
  content: "\e835";
}
.icon-cellphone:before {
  content: "\e836";
}
.icon-home:before {
  content: "\e900";
}
.icon-home2:before {
  content: "\e901";
}
.icon-home3:before {
  content: "\e902";
}
.icon-office:before {
  content: "\e903";
}
.icon-newspaper:before {
  content: "\e904";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-pencil2:before {
  content: "\e906";
}
.icon-quill:before {
  content: "\e907";
}
.icon-pen:before {
  content: "\e908";
}
.icon-blog:before {
  content: "\e909";
}
.icon-eyedropper:before {
  content: "\e90a";
}
.icon-droplet:before {
  content: "\e90b";
}
.icon-paint-format:before {
  content: "\e90c";
}
.icon-image:before {
  content: "\e90d";
}
.icon-images:before {
  content: "\e90e";
}
.icon-camera:before {
  content: "\e90f";
}
.icon-headphones:before {
  content: "\e910";
}
.icon-music:before {
  content: "\e911";
}
.icon-play:before {
  content: "\e912";
}
.icon-film:before {
  content: "\e913";
}
.icon-video-camera:before {
  content: "\e914";
}
.icon-dice:before {
  content: "\e915";
}
.icon-pacman:before {
  content: "\e916";
}
.icon-spades:before {
  content: "\e917";
}
.icon-clubs:before {
  content: "\e918";
}
.icon-diamonds:before {
  content: "\e919";
}
.icon-bullhorn:before {
  content: "\e91a";
}
.icon-connection:before {
  content: "\e91b";
}
.icon-podcast:before {
  content: "\e91c";
}
.icon-feed:before {
  content: "\e91d";
}
.icon-mic:before {
  content: "\e91e";
}
.icon-book:before {
  content: "\e91f";
}
.icon-books:before {
  content: "\e920";
}
.icon-library:before {
  content: "\e921";
}
.icon-file-text:before {
  content: "\e922";
}
.icon-profile:before {
  content: "\e923";
}
.icon-file-empty:before {
  content: "\e924";
}
.icon-files-empty:before {
  content: "\e925";
}
.icon-file-text2:before {
  content: "\e926";
}
.icon-file-picture:before {
  content: "\e927";
}
.icon-file-music:before {
  content: "\e928";
}
.icon-file-play:before {
  content: "\e929";
}
.icon-file-video:before {
  content: "\e92a";
}
.icon-file-zip:before {
  content: "\e92b";
}
.icon-copy:before {
  content: "\e92c";
}
.icon-paste:before {
  content: "\e92d";
}
.icon-stack:before {
  content: "\e92e";
}
.icon-folder:before {
  content: "\e92f";
}
.icon-folder-open:before {
  content: "\e930";
}
.icon-folder-plus:before {
  content: "\e931";
}
.icon-folder-minus:before {
  content: "\e932";
}
.icon-folder-download:before {
  content: "\e933";
}
.icon-folder-upload:before {
  content: "\e934";
}
.icon-price-tag:before {
  content: "\e935";
}
.icon-price-tags:before {
  content: "\e936";
}
.icon-barcode:before {
  content: "\e937";
}
.icon-qrcode:before {
  content: "\e938";
}
.icon-ticket:before {
  content: "\e939";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-coin-dollar:before {
  content: "\e93b";
}
.icon-coin-euro:before {
  content: "\e93c";
}
.icon-coin-pound:before {
  content: "\e93d";
}
.icon-coin-yen:before {
  content: "\e93e";
}
.icon-credit-card:before {
  content: "\e93f";
}
.icon-calculator:before {
  content: "\e940";
}
.icon-lifebuoy:before {
  content: "\e941";
}
.icon-phone:before {
  content: "\e942";
}
.icon-phone-hang-up:before {
  content: "\e943";
}
.icon-address-book:before {
  content: "\e944";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-pushpin:before {
  content: "\e946";
}
.icon-location:before {
  content: "\e947";
}
.icon-location2:before {
  content: "\e948";
}
.icon-compass:before {
  content: "\e949";
}
.icon-compass2:before {
  content: "\e94a";
}
.icon-map:before {
  content: "\e94b";
}
.icon-map2:before {
  content: "\e94c";
}
.icon-history:before {
  content: "\e94d";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-clock2:before {
  content: "\e94f";
}
.icon-alarm:before {
  content: "\e950";
}
.icon-bell:before {
  content: "\e951";
}
.icon-stopwatch:before {
  content: "\e952";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-printer:before {
  content: "\e954";
}
.icon-keyboard:before {
  content: "\e955";
}
.icon-display:before {
  content: "\e956";
}
.icon-laptop:before {
  content: "\e957";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-mobile2:before {
  content: "\e959";
}
.icon-tablet:before {
  content: "\e95a";
}
.icon-tv:before {
  content: "\e95b";
}
.icon-drawer:before {
  content: "\e95c";
}
.icon-drawer2:before {
  content: "\e95d";
}
.icon-box-add:before {
  content: "\e95e";
}
.icon-box-remove:before {
  content: "\e95f";
}
.icon-download:before {
  content: "\e960";
}
.icon-upload:before {
  content: "\e961";
}
.icon-floppy-disk:before {
  content: "\e962";
}
.icon-drive:before {
  content: "\e963";
}
.icon-database:before {
  content: "\e964";
}
.icon-undo:before {
  content: "\e965";
}
.icon-redo:before {
  content: "\e966";
}
.icon-undo2:before {
  content: "\e967";
}
.icon-redo2:before {
  content: "\e968";
}
.icon-forward:before {
  content: "\e969";
}
.icon-reply:before {
  content: "\e96a";
}
.icon-bubble:before {
  content: "\e96b";
}
.icon-bubbles:before {
  content: "\e96c";
}
.icon-bubbles2:before {
  content: "\e96d";
}
.icon-bubble2:before {
  content: "\e96e";
}
.icon-bubbles3:before {
  content: "\e96f";
}
.icon-bubbles4:before {
  content: "\e970";
}
.icon-user:before {
  content: "\e971";
}
.icon-users:before {
  content: "\e972";
}
.icon-user-plus:before {
  content: "\e973";
}
.icon-user-minus:before {
  content: "\e974";
}
.icon-user-check:before {
  content: "\e975";
}
.icon-user-tie:before {
  content: "\e976";
}
.icon-quotes-left:before {
  content: "\e977";
}
.icon-quotes-right:before {
  content: "\e978";
}
.icon-hour-glass:before {
  content: "\e979";
}
.icon-spinner:before {
  content: "\e97a";
}
.icon-spinner2:before {
  content: "\e97b";
}
.icon-spinner3:before {
  content: "\e97c";
}
.icon-spinner4:before {
  content: "\e97d";
}
.icon-spinner5:before {
  content: "\e97e";
}
.icon-spinner6:before {
  content: "\e97f";
}
.icon-spinner7:before {
  content: "\e980";
}
.icon-spinner8:before {
  content: "\e981";
}
.icon-spinner9:before {
  content: "\e982";
}
.icon-spinner10:before {
  content: "\e983";
}
.icon-spinner11:before {
  content: "\e984";
}
.icon-binoculars:before {
  content: "\e985";
}
.icon-search:before {
  content: "\e986";
}
.icon-zoom-in:before {
  content: "\e987";
}
.icon-zoom-out:before {
  content: "\e988";
}
.icon-enlarge:before {
  content: "\e989";
}
.icon-shrink:before {
  content: "\e98a";
}
.icon-enlarge2:before {
  content: "\e98b";
}
.icon-shrink2:before {
  content: "\e98c";
}
.icon-key:before {
  content: "\e98d";
}
.icon-key2:before {
  content: "\e98e";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-unlocked:before {
  content: "\e990";
}
.icon-wrench:before {
  content: "\e991";
}
.icon-equalizer:before {
  content: "\e992";
}
.icon-equalizer2:before {
  content: "\e993";
}
.icon-cog:before {
  content: "\e994";
}
.icon-cogs:before {
  content: "\e995";
}
.icon-hammer:before {
  content: "\e996";
}
.icon-magic-wand:before {
  content: "\e997";
}
.icon-aid-kit:before {
  content: "\e998";
}
.icon-bug:before {
  content: "\e999";
}
.icon-pie-chart:before {
  content: "\e99a";
}
.icon-stats-dots:before {
  content: "\e99b";
}
.icon-stats-bars:before {
  content: "\e99c";
}
.icon-stats-bars2:before {
  content: "\e99d";
}
.icon-trophy:before {
  content: "\e99e";
}
.icon-gift:before {
  content: "\e99f";
}
.icon-glass:before {
  content: "\e9a0";
}
.icon-glass2:before {
  content: "\e9a1";
}
.icon-mug:before {
  content: "\e9a2";
}
.icon-spoon-knife:before {
  content: "\e9a3";
}
.icon-leaf:before {
  content: "\e9a4";
}
.icon-rocket:before {
  content: "\e9a5";
}
.icon-meter:before {
  content: "\e9a6";
}
.icon-meter2:before {
  content: "\e9a7";
}
.icon-hammer2:before {
  content: "\e9a8";
}
.icon-fire:before {
  content: "\e9a9";
}
.icon-lab:before {
  content: "\e9ab";
}
.icon-magnet:before {
  content: "\e9ac";
}
.icon-bin:before {
  content: "\e9ad";
}
.icon-bin2:before {
  content: "\e9ae";
}
.icon-briefcase:before {
  content: "\e9af";
}
.icon-airplane:before {
  content: "\e9b0";
}
.icon-truck:before {
  content: "\e9b1";
}
.icon-road:before {
  content: "\e9b2";
}
.icon-accessibility:before {
  content: "\e9b3";
}
.icon-target:before {
  content: "\e9b4";
}
.icon-shield:before {
  content: "\e9b5";
}
.icon-power:before {
  content: "\e9b6";
}
.icon-switch:before {
  content: "\e9b7";
}
.icon-power-cord:before {
  content: "\e9b8";
}
.icon-clipboard:before {
  content: "\e9b9";
}
.icon-list-numbered:before {
  content: "\e9ba";
}
.icon-list:before {
  content: "\e9bb";
}
.icon-list2:before {
  content: "\e9bc";
}
.icon-tree:before {
  content: "\e9bd";
}
.icon-menu:before {
  content: "\e9be";
}
.icon-menu2:before {
  content: "\e9bf";
}
.icon-menu3:before {
  content: "\e9c0";
}
.icon-menu4:before {
  content: "\e9c1";
}
.icon-cloud:before {
  content: "\e9c2";
}
.icon-cloud-download:before {
  content: "\e9c3";
}
.icon-cloud-upload:before {
  content: "\e9c4";
}
.icon-cloud-check:before {
  content: "\e9c5";
}
.icon-download2:before {
  content: "\e9c6";
}
.icon-upload2:before {
  content: "\e9c7";
}
.icon-download3:before {
  content: "\e9c8";
}
.icon-upload3:before {
  content: "\e9c9";
}
.icon-sphere:before {
  content: "\e9ca";
}
.icon-earth:before {
  content: "\e9cb";
}
.icon-link:before {
  content: "\e9cc";
}
.icon-flag:before {
  content: "\e9cd";
}
.icon-attachment:before {
  content: "\e9ce";
}
.icon-eye:before {
  content: "\e9cf";
}
.icon-eye-plus:before {
  content: "\e9d0";
}
.icon-eye-minus:before {
  content: "\e9d1";
}
.icon-eye-blocked:before {
  content: "\e9d2";
}
.icon-bookmark:before {
  content: "\e9d3";
}
.icon-bookmarks:before {
  content: "\e9d4";
}
.icon-sun:before {
  content: "\e9d5";
}
.icon-contrast:before {
  content: "\e9d6";
}
.icon-brightness-contrast:before {
  content: "\e9d7";
}
.icon-star-empty:before {
  content: "\e9d8";
}
.icon-star-half:before {
  content: "\e9d9";
}
.icon-star-full:before {
  content: "\e9da";
}
.icon-heart:before {
  content: "\e9db";
}
.icon-heart-broken:before {
  content: "\e9dc";
}
.icon-man:before {
  content: "\e9dd";
}
.icon-woman:before {
  content: "\e9de";
}
.icon-man-woman:before {
  content: "\e9df";
}
.icon-happy:before {
  content: "\e9e0";
}
.icon-happy2:before {
  content: "\e9e1";
}
.icon-smile:before {
  content: "\e9e2";
}
.icon-smile2:before {
  content: "\e9e3";
}
.icon-tongue:before {
  content: "\e9e4";
}
.icon-tongue2:before {
  content: "\e9e5";
}
.icon-sad:before {
  content: "\e9e6";
}
.icon-sad2:before {
  content: "\e9e7";
}
.icon-wink:before {
  content: "\e9e8";
}
.icon-wink2:before {
  content: "\e9e9";
}
.icon-grin:before {
  content: "\e9ea";
}
.icon-grin2:before {
  content: "\e9eb";
}
.icon-cool:before {
  content: "\e9ec";
}
.icon-cool2:before {
  content: "\e9ed";
}
.icon-angry:before {
  content: "\e9ee";
}
.icon-angry2:before {
  content: "\e9ef";
}
.icon-evil:before {
  content: "\e9f0";
}
.icon-evil2:before {
  content: "\e9f1";
}
.icon-shocked:before {
  content: "\e9f2";
}
.icon-shocked2:before {
  content: "\e9f3";
}
.icon-baffled:before {
  content: "\e9f4";
}
.icon-baffled2:before {
  content: "\e9f5";
}
.icon-confused:before {
  content: "\e9f6";
}
.icon-confused2:before {
  content: "\e9f7";
}
.icon-neutral:before {
  content: "\e9f8";
}
.icon-neutral2:before {
  content: "\e9f9";
}
.icon-hipster:before {
  content: "\e9fa";
}
.icon-hipster2:before {
  content: "\e9fb";
}
.icon-wondering:before {
  content: "\e9fc";
}
.icon-wondering2:before {
  content: "\e9fd";
}
.icon-sleepy:before {
  content: "\e9fe";
}
.icon-sleepy2:before {
  content: "\e9ff";
}
.icon-frustrated:before {
  content: "\ea00";
}
.icon-frustrated2:before {
  content: "\ea01";
}
.icon-crying:before {
  content: "\ea02";
}
.icon-crying2:before {
  content: "\ea03";
}
.icon-point-up:before {
  content: "\ea04";
}
.icon-point-right:before {
  content: "\ea05";
}
.icon-point-down:before {
  content: "\ea06";
}
.icon-point-left:before {
  content: "\ea07";
}
.icon-warning:before {
  content: "\ea08";
}
.icon-notification:before {
  content: "\ea09";
}
.icon-question:before {
  content: "\ea0a";
}
.icon-plus:before {
  content: "\ea0b";
}
.icon-minus:before {
  content: "\ea0c";
}
.icon-info:before {
  content: "\ea0d";
}
.icon-cancel-circle:before {
  content: "\ea0e";
}
.icon-blocked:before {
  content: "\ea0f";
}
.icon-cross:before {
  content: "\ea10";
}
.icon-checkmark:before {
  content: "\ea11";
}
.icon-checkmark2:before {
  content: "\ea12";
}
.icon-spell-check:before {
  content: "\ea13";
}
.icon-enter:before {
  content: "\ea14";
}
.icon-exit:before {
  content: "\ea15";
}
.icon-play2:before {
  content: "\ea16";
}
.icon-pause:before {
  content: "\ea17";
}
.icon-stop:before {
  content: "\ea18";
}
.icon-previous:before {
  content: "\ea19";
}
.icon-next:before {
  content: "\ea1a";
}
.icon-backward:before {
  content: "\ea1b";
}
.icon-forward2:before {
  content: "\ea1c";
}
.icon-play3:before {
  content: "\ea1d";
}
.icon-pause2:before {
  content: "\ea1e";
}
.icon-stop2:before {
  content: "\ea1f";
}
.icon-backward2:before {
  content: "\ea20";
}
.icon-forward3:before {
  content: "\ea21";
}
.icon-first:before {
  content: "\ea22";
}
.icon-last:before {
  content: "\ea23";
}
.icon-previous2:before {
  content: "\ea24";
}
.icon-next2:before {
  content: "\ea25";
}
.icon-eject:before {
  content: "\ea26";
}
.icon-volume-high:before {
  content: "\ea27";
}
.icon-volume-medium:before {
  content: "\ea28";
}
.icon-volume-low:before {
  content: "\ea29";
}
.icon-volume-mute:before {
  content: "\ea2a";
}
.icon-volume-mute2:before {
  content: "\ea2b";
}
.icon-volume-increase:before {
  content: "\ea2c";
}
.icon-volume-decrease:before {
  content: "\ea2d";
}
.icon-loop:before {
  content: "\ea2e";
}
.icon-loop2:before {
  content: "\ea2f";
}
.icon-infinite:before {
  content: "\ea30";
}
.icon-shuffle:before {
  content: "\ea31";
}
.icon-arrow-up-left:before {
  content: "\ea32";
}
.icon-arrow-up:before {
  content: "\ea33";
}
.icon-arrow-up-right:before {
  content: "\ea34";
}
.icon-arrow-right:before {
  content: "\ea35";
}
.icon-arrow-down-right:before {
  content: "\ea36";
}
.icon-arrow-down:before {
  content: "\ea37";
}
.icon-arrow-down-left:before {
  content: "\ea38";
}
.icon-arrow-left:before {
  content: "\ea39";
}
.icon-arrow-up-left2:before {
  content: "\ea3a";
}
.icon-arrow-up2:before {
  content: "\ea3b";
}
.icon-arrow-up-right2:before {
  content: "\ea3c";
}
.icon-arrow-right2:before {
  content: "\ea3d";
}
.icon-arrow-down-right2:before {
  content: "\ea3e";
}
.icon-arrow-down2:before {
  content: "\ea3f";
}
.icon-arrow-down-left2:before {
  content: "\ea40";
}
.icon-arrow-left2:before {
  content: "\ea41";
}
.icon-circle-up:before {
  content: "\ea42";
}
.icon-circle-right:before {
  content: "\ea43";
}
.icon-circle-down:before {
  content: "\ea44";
}
.icon-circle-left:before {
  content: "\ea45";
}
.icon-tab:before {
  content: "\ea46";
}
.icon-move-up:before {
  content: "\ea47";
}
.icon-move-down:before {
  content: "\ea48";
}
.icon-sort-alpha-asc:before {
  content: "\ea49";
}
.icon-sort-alpha-desc:before {
  content: "\ea4a";
}
.icon-sort-numeric-asc:before {
  content: "\ea4b";
}
.icon-sort-numberic-desc:before {
  content: "\ea4c";
}
.icon-sort-amount-asc:before {
  content: "\ea4d";
}
.icon-sort-amount-desc:before {
  content: "\ea4e";
}
.icon-command:before {
  content: "\ea4f";
}
.icon-shift:before {
  content: "\ea50";
}
.icon-ctrl:before {
  content: "\ea51";
}
.icon-opt:before {
  content: "\ea52";
}
.icon-checkbox-checked:before {
  content: "\ea53";
}
.icon-checkbox-unchecked:before {
  content: "\ea54";
}
.icon-radio-checked:before {
  content: "\ea55";
}
.icon-radio-checked2:before {
  content: "\ea56";
}
.icon-radio-unchecked:before {
  content: "\ea57";
}
.icon-crop:before {
  content: "\ea58";
}
.icon-make-group:before {
  content: "\ea59";
}
.icon-ungroup:before {
  content: "\ea5a";
}
.icon-scissors:before {
  content: "\ea5b";
}
.icon-filter:before {
  content: "\ea5c";
}
.icon-font:before {
  content: "\ea5d";
}
.icon-ligature:before {
  content: "\ea5e";
}
.icon-ligature2:before {
  content: "\ea5f";
}
.icon-text-height:before {
  content: "\ea60";
}
.icon-text-width:before {
  content: "\ea61";
}
.icon-font-size:before {
  content: "\ea62";
}
.icon-bold:before {
  content: "\ea63";
}
.icon-underline:before {
  content: "\ea64";
}
.icon-italic:before {
  content: "\ea65";
}
.icon-strikethrough:before {
  content: "\ea66";
}
.icon-omega:before {
  content: "\ea67";
}
.icon-sigma:before {
  content: "\ea68";
}
.icon-page-break:before {
  content: "\ea69";
}
.icon-superscript:before {
  content: "\ea6a";
}
.icon-subscript:before {
  content: "\ea6b";
}
.icon-superscript2:before {
  content: "\ea6c";
}
.icon-subscript2:before {
  content: "\ea6d";
}
.icon-text-color:before {
  content: "\ea6e";
}
.icon-pagebreak:before {
  content: "\ea6f";
}
.icon-clear-formatting:before {
  content: "\ea70";
}
.icon-table:before {
  content: "\ea71";
}
.icon-table2:before {
  content: "\ea72";
}
.icon-insert-template:before {
  content: "\ea73";
}
.icon-pilcrow:before {
  content: "\ea74";
}
.icon-ltr:before {
  content: "\ea75";
}
.icon-rtl:before {
  content: "\ea76";
}
.icon-section:before {
  content: "\ea77";
}
.icon-paragraph-left:before {
  content: "\ea78";
}
.icon-paragraph-center:before {
  content: "\ea79";
}
.icon-paragraph-right:before {
  content: "\ea7a";
}
.icon-paragraph-justify:before {
  content: "\ea7b";
}
.icon-indent-increase:before {
  content: "\ea7c";
}
.icon-indent-decrease:before {
  content: "\ea7d";
}
.icon-share:before {
  content: "\ea7e";
}
.icon-new-tab:before {
  content: "\ea7f";
}
.icon-embed:before {
  content: "\ea80";
}
.icon-embed2:before {
  content: "\ea81";
}
.icon-terminal:before {
  content: "\ea82";
}
.icon-share2:before {
  content: "\ea83";
}
.icon-mail:before {
  content: "\ea84";
}
.icon-mail2:before {
  content: "\ea85";
}
.icon-mail3:before {
  content: "\ea86";
}
.icon-mail4:before {
  content: "\ea87";
}
.icon-amazon:before {
  content: "\ea88";
}
.icon-google:before {
  content: "\ea89";
}
.icon-google2:before {
  content: "\ea8a";
}
.icon-google3:before {
  content: "\ea8b";
}
.icon-google-plus:before {
  content: "\ea8c";
}
.icon-google-plus2:before {
  content: "\ea8d";
}
.icon-google-plus3:before {
  content: "\ea8e";
}
.icon-hangouts:before {
  content: "\ea8f";
}
.icon-google-drive:before {
  content: "\ea90";
}
.icon-facebook:before {
  content: "\ea91";
}
.icon-facebook2:before {
  content: "\ea92";
}
.icon-instagram:before {
  content: "\ea93";
}
.icon-whatsapp:before {
  content: "\ea94";
}
.icon-spotify:before {
  content: "\ea95";
}
.icon-telegram:before {
  content: "\ea96";
}
.icon-twitter:before {
  content: "\ea97";
}
.icon-vine:before {
  content: "\ea98";
}
.icon-vk:before {
  content: "\ea99";
}
.icon-renren:before {
  content: "\ea9a";
}
.icon-sina-weibo:before {
  content: "\ea9b";
}
.icon-rss:before {
  content: "\ea9c";
}
.icon-rss2:before {
  content: "\ea9d";
}
.icon-youtube:before {
  content: "\ea9e";
}
.icon-youtube2:before {
  content: "\ea9f";
}
.icon-twitch:before {
  content: "\eaa0";
}
.icon-vimeo:before {
  content: "\eaa1";
}
.icon-vimeo2:before {
  content: "\eaa2";
}
.icon-lanyrd:before {
  content: "\eaa3";
}
.icon-flickr:before {
  content: "\eaa4";
}
.icon-flickr2:before {
  content: "\eaa5";
}
.icon-flickr3:before {
  content: "\eaa6";
}
.icon-flickr4:before {
  content: "\eaa7";
}
.icon-dribbble:before {
  content: "\eaa8";
}
.icon-behance:before {
  content: "\eaa9";
}
.icon-behance2:before {
  content: "\eaaa";
}
.icon-deviantart:before {
  content: "\eaab";
}
.icon-500px:before {
  content: "\eaac";
}
.icon-steam:before {
  content: "\eaad";
}
.icon-steam2:before {
  content: "\eaae";
}
.icon-dropbox:before {
  content: "\eaaf";
}
.icon-onedrive:before {
  content: "\eab0";
}
.icon-github:before {
  content: "\eab1";
}
.icon-npm:before {
  content: "\eab2";
}
.icon-basecamp:before {
  content: "\eab3";
}
.icon-trello:before {
  content: "\eab4";
}
.icon-wordpress:before {
  content: "\eab5";
}
.icon-joomla:before {
  content: "\eab6";
}
.icon-ello:before {
  content: "\eab7";
}
.icon-blogger:before {
  content: "\eab8";
}
.icon-blogger2:before {
  content: "\eab9";
}
.icon-tumblr:before {
  content: "\eaba";
}
.icon-tumblr2:before {
  content: "\eabb";
}
.icon-yahoo:before {
  content: "\eabc";
}
.icon-yahoo2:before {
  content: "\eabd";
}
.icon-tux:before {
  content: "\eabe";
}
.icon-appleinc:before {
  content: "\eabf";
}
.icon-finder:before {
  content: "\eac0";
}
.icon-android:before {
  content: "\eac1";
}
.icon-windows:before {
  content: "\eac2";
}
.icon-windows8:before {
  content: "\eac3";
}
.icon-soundcloud:before {
  content: "\eac4";
}
.icon-soundcloud2:before {
  content: "\eac5";
}
.icon-skype:before {
  content: "\eac6";
}
.icon-reddit:before {
  content: "\eac7";
}
.icon-hackernews:before {
  content: "\eac8";
}
.icon-wikipedia:before {
  content: "\eac9";
}
.icon-linkedin:before {
  content: "\eaca";
}
.icon-linkedin2:before {
  content: "\eacb";
}
.icon-lastfm:before {
  content: "\eacc";
}
.icon-lastfm2:before {
  content: "\eacd";
}
.icon-delicious:before {
  content: "\eace";
}
.icon-stumbleupon:before {
  content: "\eacf";
}
.icon-stumbleupon2:before {
  content: "\ead0";
}
.icon-stackoverflow:before {
  content: "\ead1";
}
.icon-pinterest:before {
  content: "\ead2";
}
.icon-pinterest2:before {
  content: "\ead3";
}
.icon-xing:before {
  content: "\ead4";
}
.icon-xing2:before {
  content: "\ead5";
}
.icon-flattr:before {
  content: "\ead6";
}
.icon-foursquare:before {
  content: "\ead7";
}
.icon-yelp:before {
  content: "\ead8";
}
.icon-paypal:before {
  content: "\ead9";
}
.icon-chrome:before {
  content: "\eada";
}
.icon-firefox:before {
  content: "\eadb";
}
.icon-IE:before {
  content: "\eadc";
}
.icon-edge:before {
  content: "\eadd";
}
.icon-safari:before {
  content: "\eade";
}
.icon-opera:before {
  content: "\eadf";
}
.icon-file-pdf:before {
  content: "\eae0";
}
.icon-file-openoffice:before {
  content: "\eae1";
}
.icon-file-word:before {
  content: "\eae2";
}
.icon-file-excel:before {
  content: "\eae3";
}
.icon-libreoffice:before {
  content: "\eae4";
}
.icon-html-five:before {
  content: "\eae5";
}
.icon-html-five2:before {
  content: "\eae6";
}
.icon-css3:before {
  content: "\eae7";
}
.icon-git:before {
  content: "\eae8";
}
.icon-codepen:before {
  content: "\eae9";
}
.icon-svg:before {
  content: "\eaea";
}
.icon-iconfont:before {
  content: "\eaeb";
}
